.cache/
.beca-cache/

# OS
.DS_Store
Thumbs.db
desktop.ini

# VSCode
.vscode/

# secrets
wifi.json
secrets.h
*.pem
*.key

# logs
*.log

# Python
.venv/
__pycache__/

# Node/Tauri
node_modules/
dist/
apps/beca-setup/src-tauri/target/
target/
apps/beca-setup/src-tauri/binaries/*
!apps/beca-setup/src-tauri/binaries/README.txt
apps/beca-setup/dist-installer/*
!apps/beca-setup/dist-installer/README.md
!apps/beca-setup/dist-installer/windows/
!apps/beca-setup/dist-installer/macos/
!apps/beca-setup/dist-installer/linux/
apps/beca-setup/dist-installer/windows/*
apps/beca-setup/dist-installer/macos/*
apps/beca-setup/dist-installer/linux/*
!apps/beca-setup/dist-installer/windows/.gitkeep
!apps/beca-setup/dist-installer/macos/.gitkeep
!apps/beca-setup/dist-installer/linux/.gitkeep

# App runtime files
*.zip
*.tmp

# PlatformIO build outputs
.pio/
.pioenvs/
.piolibdeps/
